<Ifmodule mod_rewrite.c>
    <Ifmodule mod_negotiation.c>
        Options -multiViews -Indexes
    </Ifmodule>
</Ifmodule>

RewriteEngine on

RewriteCond %{REQUEST_FILENAME} !-d
RewriteCond %{REQUEST_FILENAME} !-f

RewriteCond %{REQUEST_URI} (.+)/$
RewriteRule ^ 1% [L,R=301]
RewriteRule ^ index.php [L]